@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 204, 3);
}


.container {
    max-width: 1000px;
    background: rgba(187, 255, 0, 0.523);
    border: 1px solid rgb(255, 255, 255);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 300px;
    min-width: 640px;
}

.container header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-bottom: 20px;
}

header h1 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    color: hsl(222, 47%, 11%,1);
}


.todos-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.todos-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    max-height: 54vh;
    overflow-y: auto;
    width: 100%;
}

.todos-list .todo-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(9, 255, 0, 0.18);
}

header .input-section {
    display: flex;
    width: 100%;
    height: 100%;
}

.input-section input{
    margin-right: 20px;
    max-width: 100%;
}

.todo-item p{
    margin-right: 10px;
}

.btn{
    margin-left: 20px;
}

.todo-item .todo-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.todo-actions button:not(:last-child){
    margin-right: 10px;
}

@media only screen and (max-width: 530px) {
    .container {
        margin: 0 20px;
        max-width: 96%;
        min-width: 96%;
    }
}
